

<div class="bgimg" >
    <div class="card" style="width: 50%; position: absolute; top: 100px ; left:300px; right: 300px; background-color: rgba(222, 222, 222, .5); border-radius: 10px;">
        <div class="card-body">
          <!-- <h5 class="card-title" style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Regestration Form</h5> -->
          <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
              
            

<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h2>Regestration Form</h2></div>
    <div class="col-xs-2"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
<form (ngSubmit)= 'addNewDriver()' #addForm="ngForm" style="margin: 15px;">
    <div class="form-group" >
      <label>Enter Your Name: </label><br>
      <input type="text" class="form-control" [(ngModel)]=driver.name name="Name" placeholder="e.g. Sherlock Holmes" pattern="[a-zA-Z_ ]{5,15}" #name=ngModel required>
      <span *ngIf = "name.touched && name.invalid && (name.errors.required || name.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Name</p></span>
        <hr>
    </div>

    <div class="form-group">
      <label>Enter Your Password: </label><br>
      <input type="password"  class="form-control" [(ngModel)]=driver.password name="Password" placeholder="e.g. aZ0@!_$" #password = ngModel pattern="[A-Za-z0-9@_!$]{8,15}" required>
      <span *ngIf = "password.touched && password.invalid && (password.errors.required || password.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Password</p></span>
        <hr>
    </div>
  
     <div class="form-group">
      <label>Enter Your Date Of Birth: </label><br>
      <input type="date" [(ngModel)]=driver.dob name="Dob" #dob = ngModel  [max]="today" [min]="minDate" required>
      <span *ngIf = "dob.touched && dob.invalid && (dob.errors.required)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Date Of Birth</p></span>
        <hr>
    </div> 
  
     <div class="form-group">
       <label>Gender: </label><br>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value = "Male" name="optradio" checked>Male</label>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Female" name="optradio">Female</label>
    <label class="radio-inline"><input type="radio" [(ngModel)]=driver.gender value="Others" name="optradio">Others</label>
  <hr>  
  </div> 
    <div class="form-group">
      <label>Enter Your E-Mail:</label><br>
      <input type="email"  class="form-control" [(ngModel)]=driver.email name="Email" placeholder="e.g. tapcablover@mail.com" #email= ngModel pattern="[a-z0-9]+@[a-z]+.[a-z]{3,5}" required>
      <span *ngIf = "email.touched && email.invalid && (email.errors.required || email.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid E-mail</p></span>
        <hr>
    </div>
  
    <div class="form-group">
      <label>Enter Your Contact: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.contactNo name="ContactNo" placeholder="e.g 9876543210" #contact = ngModel pattern="[7-9][0-9]{9}" required>
      <span *ngIf = "contact.touched && contact.invalid && (contact.errors.required || contact.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Contact</p></span>
        <hr>
    </div>
  
    <div class="form-group">
      <label>Enter Your Address: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.address name="Address" placeholder="e.g. 221B Baker Street" #address = ngModel pattern="[A-Z0-9][A-Za-z0-9_ ]{5,20}" required>
      <span *ngIf = "address.touched && address.invalid && (address.errors.required || address.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Address</p></span>
        <hr>
    </div>

    <div class="form-group">
      <label>Enter DL Number: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.drivingLicense name="DL" placeholder="e.g. DRIVE123MH" #dl = ngModel pattern="[A-Z0-9]{5,10}" required>
      <span *ngIf = "dl.touched && dl.invalid && (dl.errors.required || dl.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid DL Number</p></span>
        <hr>
    </div>    
  
    <div class="form-group">
      <label>Enter Your Vehicle Number: </label><br>
      <input type="text"  class="form-control" [(ngModel)]=driver.vehicleNo name="VehicleNo" placeholder="e.g. MH42OC1234" #vehicleNo = ngModel pattern="[A-Z0-9]{6,10}" required>
      <span *ngIf = "vehicleNo.touched && vehicleNo.invalid && (vehicleNo.errors.required || vehicleNo.errors.pattern)" class="alert-warning"> 
        <p class="error-div" style="color:red " >Invalid Vehicle Number</p></span>
        <hr>
    </div>

     <div class="form-group">
      <label for="sel1">Select Your Car Model:</label>
      <select class="form-control" id="sel1" name="Model" [(ngModel)]=vehicle.model required>
         <option disabled>--Select Your Car--</option> 
        <option [value]="micro" >Micro</option>
        <option [value]="mini"  >Mini</option>
        <option [value]="sedan" >Sedan</option>
        <option [value]="suv" >SUV</option>
      </select>
      <br>
    </div>

    <div class="form-group">
      <label for="destination" class="control-label">Enter your vehicle location: </label>
      <!-- <div class="col-sm-6"> -->
        <select class="form-control" #veh_loc=ngModel [(ngModel)]=vehicle.location name="veh_location">
          <option value="h" disabled>Select-cab-location</option>
          <option *ngFor="let location of locations" [value]="location">{{location}}</option>
        </select>
    </div>
    
    
    <div class="form-group">
      <br>
      <button class="btn btn-success" type="submit" [disabled] = "!addForm.valid">Register Driver</button>
    </div>
  </form>
  </div>
  <div class="col-xs-3"></div>
  </div>

</div>
<div class="col-xs-2"></div>
</div>
</div>
</div>
</div>
